{{define "content"}}
  <div class="card">
    <header>Users</header>
    <br>
    <form id="user-form" class="card-form">
      <fieldset>
        <input type="text" placeholder="username" name="username" id="username" class="input-text" aria-describedby="invalid-username" />
        <small id="invalid-username"></small>
        <input type="password" placeholder="password" name="password" id="password" class="input-text" aria-describedby="invalid-password" />
        <small id="invalid-password"></small>
        <fieldset>
          <label for="action">
            <input type="radio" id="create-user" name="action" value="create-user" onchange="handleRadioBtn(this)" />
            create
          </label>
          <label for="action">
            <input type="radio" id="update-user" name="action" value="update-user" onchange="handleRadioBtn(this)" />
            update
          </label>
          <label for="action">
            <input type="radio" id="delete-user" name="action" value="delete-user" onchange="handleRadioBtn(this)" />
            delete
          </label>
        </fieldset>
      </fieldset>
      <div class="grid">
        <button id="submitBtn" class="secondary btn-card-submit" onclick="userSubmit(event)">Submit</button>
        <button class="primary btn-card-help" onclick="clearUser(event)">Clear</button>
        <button class="outline contrast" onclick="backToHome(event)">Home</button>
      </div>
    </form>
    <div class="card-results">
      <p id="userResult" class="card-result"></p>
      <p id="userError" class="card-error"></p>
    </div>
  </div>
  <hr>
  <div class="card">
    <header>Nodes</header>
    <br>
    <div>
      <form id="node-form" class="card-form">
        <fieldset>
          <input type="text" placeholder="nodename" name="nodename" id="nodename" class="input-text" aria-describedby="invalid-nodename" />
          <small id="invalid-nodename"></small>
          <input type="text" placeholder="nodeip" name="nodeip" id="nodeip" class="input-text" aria-describedby="invalid-nodeip" />
          <small id="invalid-nodeip"></small>
          <input type="text" placeholder="nodeport" name="nodeport" id="nodeport" class="input-text" aria-describedby="invalid-nodeport" />
          <small id="invalid-nodeport"></small>
        </fieldset>
        <div class="grid">
          <button id="submitNodeBtn" class="secondary btn-card-submit" onclick="nodeSubmit(event)">Submit</button>
          <button class="primary btn-card-help" onclick="nodeClear(event)">Clear</button>
          <button class="outline contrast" onclick="backToHome(event)">Home</button>
        </div>
      </form>
    </div>
    <br><br>
    <div class="card-results">
      <p id="nodeResult" class="card-result"></p>
      <p id="nodeError" class="card-error"></p>
    </div>
  </div>

  <script>
    let url = "";
    let method = "";

    let cr = document.getElementById('create-user');
    let up = document.getElementById('update-user');
    let dl = document.getElementById('delete-user');

    function handleRadioBtn(radio) {
      cr.setAttribute('aria-invalid', 'false');
      up.setAttribute('aria-invalid', 'false');
      dl.setAttribute('aria-invalid', 'false');

      switch(radio.value) {
        case 'create-user': 
          url = 'register';
          method = 'POST';
          break;
        case 'update-user': 
          url = 'users/';
          method = 'PUT';
          break;
        case 'delete-user': 
          url = 'users/';
          method = 'DELETE';
          let p = document.getElementById('password');
          p.disabled = true;
          break;
        default:
          url = "";
          method = "";
      }
    }

    function backToHome(event) {
      event.preventDefault();
      const ipaddr = sessionStorage.getItem('ipaddr');
      const port = sessionStorage.getItem('port');
      window.location.href = `http://${ipaddr}:${port}/home`;
    }
    
    async function userSubmit(event) {
      event.preventDefault();
      
      const result = document.getElementById('userResult');
      const error = document.getElementById('userError');
      result.innerText = "";
      error.innerText = ""; 

      const form = document.getElementById('user-form');
      const formData = new FormData(form);
      let actions = [];
      let formObj = {};
      formData.forEach((value, key) => {
        if (key == "action") {
          formObj[key] = value;
          return;
        }

        value = value.trim();

        if (key == "username") {
          let u = document.getElementById(key);
          u.style.borderColor = 'initial';

          let ufieldError = document.getElementById(`invalid-${key}`);
          ufieldError.innerHTML = "";

          if (value != "") {
            u.setAttribute('aria-invalid', 'false');
            formObj[key] = value;
            if (url !== 'register') { url += value; }
            return;
          }

          let errorString = "[Error]: username is a required field";
          error.innerText = errorString;
          u.style.borderColor = '#e72727';
          u.setAttribute('aria-invalid', 'true');
          ufieldError.innerHTML = errorString;
        }

        if (key == "password") {
          let p = document.getElementById(key);
          p.style.borderColor = 'initial';

          let pfieldError = document.getElementById(`invalid-${key}`);
          pfieldError.innerHTML = "";

          if (value != "") {
            p.setAttribute('aria-invalid', 'false');
            formObj[key] = value;
            return;
          }

          let errorString = "[Error]: password is a required field";
          error.innerText = errorString;
          p.style.borderColor = '#e72727';
          p.setAttribute('aria-invalid', 'true');
          pfieldError.innerHTML = errorString;
        }
      });

      if (error.innerText != "") { return; }
      
      if (!formObj.action) {
        cr.setAttribute('aria-invalid', 'true');
        up.setAttribute('aria-invalid', 'true');
        dl.setAttribute('aria-invalid', 'true');
        return;
      }

      const formJson = JSON.stringify(formObj);
      
      result.innerText = 'send -> ';

      let submitBtn = document.getElementById('submitBtn');
      submitBtn.classList.add('loading');
      submitBtn.innerHTML = '<span class="spinner"></span>';

      const response = await httpRequest(url, method, formJson);
      if (response.code === 200 || response.code === 204) {
        error.innerText = "";
        result.innerText = response.data;
      } else {
        result.innerText = "";
        error.innerText = response.error;
      }

      submitBtn.classList.remove('loading');
      submitBtn.innerHTML = 'Submit';
    }

    async function httpRequest(url, method, bodyData) {
      console.log("[info]: httpRequest ", url, method);

      const ipaddr = sessionStorage.getItem('ipaddr'); 
      const port = sessionStorage.getItem('port');

      if (!ipaddr) { return { code: 500, error: 'ip address node missing' }; }
      if (!port) { return { code: 500, error: 'port node missing' }; }
      
      const response = await fetch(`http://${ipaddr}:${port}/` + url, {
        method: method,
        headers: {
          'Access-Control-Allow-Origin': '*',
          'accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Request-ID': sessionStorage.getItem('id'),
          'Authorization': `Bearer ${sessionStorage.getItem('bw_actk')}`
        },
        body: bodyData,
        credentials: "include"
      });

      if (response.status === 401) { 
        const refreshRes = await fetch(`http://${ipaddr}:${port}/refresh`, { 
          method: "POST",
          body: JSON.stringify({ bw_rftk: sessionStorage.getItem('bw_rftk') }),
          credentials: "include" 
        }); 
        
        if (refreshRes.ok) { 
          const data = await refreshRes.json();
          sessionStorage.setItem("bw_actk", data.bw_actk); 
          
          response = await fetch(`http://${ipaddr}:${port}/` + url, {
            method: method,
            headers: {
              'Access-Control-Allow-Origin': '*',
              'accept': 'application/json',
              'Content-Type': 'application/json',
              'X-Request-ID': sessionStorage.getItem('id'),
              'Authorization': `Bearer ${sessionStorage.getItem('bw_actk')}`
            },
            body: bodyData,
            credentials: "include"
          }); 
        }
      }

      switch (method) {
        case 'PUT':
          if (response.status !== 204) {
            const error = 'Failed to update user';
            console.log("[error]: ", error);
            document.dispatchEvent(notifEventIndex(`Error ${response.status} - ${error}`));
            return { code: response.status, error: error };
          }
          
          return { code: response.status, data: "User updated" };

        case 'DELETE':
          if (response.status !== 204) {
            const error = 'Failed to delete user';
            console.log("[error]: ", error);
            document.dispatchEvent(notifEventIndex(`Error ${response.status} - ${error}`));
            return { code: response.status, error: error };
          }
          
          return { code: response.status, data: "User deleted" };
      }

      if (!response.ok) {
        const error = await response.text();
        console.log("[error]: ", error);
        document.dispatchEvent(notifEventIndex(`Error ${response.status} - ${error.message || error}`));
        return { code: response.status, error: error };
      }
      
      const responseData = await response.json();
      return { code: response.status, data: responseData };
    }
  </script>
{{end}}
