{{define "content"}}
  {{if .SysInfo}}
    <!-- nodes cards -->
    <div class="cards">
      <div 
        class="card" 
        id="{{.SysInfo.Hostname}}"
        data-tooltip="click to reload node jails table" 
        data-placement="bottom"
        onclick="nodeSelection('{{.SysInfo.Ip}}', '{{.SysInfo.Port}}', '{{.SysInfo.Hostname}}')"
      >        
        <h4>[ {{ .SysInfo.Hostname}} ]</h4>
        <strong>{{ .SysInfo.Ip}}:{{ .SysInfo.Port}}</strong><br>
        <small class="secondary">HOSTNAME {{ .SysInfo.Hostname}}</small><br>
        <small class="secondary">ARCH {{ .SysInfo.Arch}}</small><br>
        <small class="secondary">PLATFORM {{ .SysInfo.Platform}}</small><br>
        <small class="secondary">OS RELEASE  {{ .SysInfo.Osrelease}}</small><br>        
        <small class="secondary">TOTAL MEMORY {{ .SysInfo.Totalmemory}} (Gb)</small><br>
        <small class="secondary">BASTILLE VERSION {{ .SysInfo.BastilleVersion}}</small><br>       
      </div>

      {{range .Nodes}}        
        <div 
          class="card nodes-external" 
          id="external-{{.Nodename}}"
          data-tooltip="click to open bastille-web node"
          data-placement="bottom" 
          onclick="nodeExternal('{{.Nodeip}}', '{{.Nodeport}}', '{{.Nodename}}')"
        >
          <h4>[ {{ .Nodename}} ]</h4>            
          <strong>{{ .Nodeip}}:{{.Nodeport}}</strong>
        </div>
      {{end}}
    </div>

    <!-- node jails table -->
    <div class="card">
      <h4>Jails [ {{ .SysInfo.Hostname}} ]</h4>
      <table role="grid" id="jailsTable">
        <thead data-theme="dark">
          <tr>
            <th class="tbl-hidden-td-data">JID</th>
            <th class="tbl-hidden-td-data">BOOT</th>
            <th class="tbl-hidden-td-data">PRIO</th>
            <th>STATE</th>
            <th>IP ADDRESS</th>
            <th class="tbl-hidden-td-data">PUBLISHED PORTS</th>
            <th>HOSTNAME</th>
            <th class="tbl-hidden-td-data">RELEASE</th>
            <th class="tbl-hidden-td-data">PATH</th>
            <th>ACTION</th>            
            <th>MENU</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <br>

    <!-- modal to show errors -->
    <dialog id="homeErrorModal">
      <article>
        <h3>Error</h3>
        <p class="home-modal-text" id="homeErrorModalText"></p>
        <footer>
          <button class="primary" onclick="closeModal()">Close</button>
        </footer>
      </article>
    </dialog>

    <!-- modal to show commands -->
    <dialog id="homeCmdsModal" class="dialog-cmds">
      <article class="dialog-cmds-content">
        <header>          
          <button id="btn-close-dialog" class="btn-close-dialog" onclick="closeCmdsModal()">x</button>
          <strong>&nbsp;&nbsp;Jail Commands <span id="homeCmdsJail"></span></strong>
        </header>
        <p class="home-modal-cmds-text" id="homeCmdsModalText">
          {{range .Data.Commands}}
            {{if and (ne .Command "edit")}}
              <span class="home-modal-cmds-links" onclick="location.href='/{{.Command}}';">
                <a href="/{{.Command}}">{{.Command}}</a>
              </span>
            {{end}}
          {{end}}
        </p>
        <hr>
        <footer>
          <button class="primary" onclick="closeCmdsModal()">Cancel</button>
        </footer>
      </article>
    </dialog>
  {{end}}

  <script>
    console.log('[info]: Home page');

    const thisMachine = "{{.SysInfo.Hostname}}";
    const timeout = 5000;
    let ipaddr;
    let port;
    let hostName;
    
    let iframe;
    let btnsStart = document.getElementsByClassName("btn-home-start-jail");
    let btnsStop = document.getElementsByClassName("btn-home-stop-jail");    
    
    let hmModal = document.getElementById("homeErrorModal");
    let hmModalTxt = document.getElementById("homeErrorModalText");
    hmModal.style.display = 'none';
    
    let hmCmdsModal = document.getElementById("homeCmdsModal");
    let hmCmdsModalTxt = document.getElementById("homeCmdsModalText");
    hmCmdsModal.style.display = 'none';

    (function init () {
      console.log("[info]: init");

      sessionStorage.removeItem("ipaddr");
      sessionStorage.setItem("ipaddr", "{{.SysInfo.Ip}}");
      sessionStorage.removeItem("port");
      sessionStorage.setItem("port", "{{.SysInfo.Port}}");
      sessionStorage.removeItem("hostname");
      sessionStorage.setItem("hostname", "{{.SysInfo.Hostname}}");

      ipaddr = sessionStorage.getItem('ipaddr');
      port = sessionStorage.getItem('port');
      hostName = sessionStorage.getItem('hostname');

      setTimeout(async () => {
        const nodes = "{{.Nodes}}";
        const items = nodes.replace(/[\[\]{}]/g, "").trim().split(/\s{2,}|\s(?=srv)/); 
        const servers = items.filter(Boolean).map(str => {
          console.log(str);
          const [name, ip, port] = str.trim().split(/\s+/); 
          return { name, ip, port: Number(port) }; 
        });
        
        /*
        if (servers.length > 0) {
          servers.forEach(async s => {
            await loadNodeInfo(s.ip, s.port, s.name);
          });
        }
        */

        nodeSelection(ipaddr, port, hostName);
        document.dispatchEvent(notifEventIndex("Node selected"));

        await loadTables();
        document.dispatchEvent(notifEventIndex("Jails loaded"));
      }, 1000);
    })();
    
    function redirectUrl() {
      window.location.href = "http://{{.SysInfo.Ip}}:{{.SysInfo.Port}}/home";
    }

    function disableButtons() {
      for (const btna of btnsStart) { btna.setAttribute('disabled', ''); }
      for (const btno of btnsStop) { btno.setAttribute('disabled', ''); }
    }

    function enableButtons() {
      for (const btna of btnsStart) { btna.setAttribute('enabled', ''); }
      for (const btno of btnsStop) { btno.setAttribute('enabled', ''); }
    }

    function closeModal() {
      hmModal.style.display = 'none';
    }

    function openCmdsModal(hostName) {
      const hostJail = document.getElementById('homeCmdsJail');
      hostJail.innerText = `[ ${hostName} ]`;
      sessionStorage.setItem('hostJail', hostName);
      hmCmdsModal.style.display = 'block';
    }

    function closeCmdsModal() {
      hmCmdsModal.style.display = 'none';
    }

    function nodeExternal(ipAddr, port, hostName) {
      console.log(`[info]: nodeExternal ${ipAddr}:${port} - ${hostName}`);
      window.open(`http://${ipAddr}:${port}/`);
    }

    function nodeSelection(ipAddr, port, hostName) {
      console.log(`[info]: nodeSelection ${ipAddr}:${port} - ${hostName}`);

      sessionStorage.removeItem("ipaddr");
      sessionStorage.setItem("ipaddr", ipAddr);
      sessionStorage.removeItem("port");
      sessionStorage.setItem("port", port);
      sessionStorage.removeItem("hostname");
      sessionStorage.setItem("hostname", hostName);

      let nHst = document.getElementById(hostName);
      nHst.style.borderColor = "#01aaff";
      console.log("[info]: node selected ", hostName);
    }

    async function checkApiHealth() {    
      const response = await fetch('/health');
      if (!response.ok) { 
        document.dispatchEvent(notifEventIndex(`Error ${response.status} - api not responding`)); 
        return;
      }
    
      document.dispatchEvent(notifEventIndex(`Info ${response.status} - api ok`));  
    }

    async function loadNodeInfo(ipAddr, port, hostName) {
      console.log(`[info]: loadNodeInfo`);
      
      let response;
      response = await fetch(`http://${ipAddr}:${port}/node`, {
        headers: {
          'Access-Control-Allow-Origin': '*',
          'accept': 'application/json',
          'X-Request-ID': sessionStorage.getItem('id'),
          'Authorization': `Bearer ${sessionStorage.getItem('bw_actk')}`
        }
      });

      if (response.status === 401) { 
        const refreshRes = await fetch(`/refresh`, { 
          method: "POST",
          body: JSON.stringify({ bw_rftk: sessionStorage.getItem('bw_rftk') }),
          credentials: "include" 
        }); 
        
        if (refreshRes.ok) { 
          const data = await refreshRes.json();
          sessionStorage.setItem("bw_actk", data.bw_actk); 
          
          response = await fetch(`http://${ipAddr}:${port}/node`, {
            headers: {
              'Access-Control-Allow-Origin': '*',
              'accept': 'application/json',
              'X-Request-ID': sessionStorage.getItem('id'),
              'Authorization': `Bearer ${sessionStorage.getItem('bw_actk')}`
            }
          }); 
        }
      }
      
      let msg = "";
      if (!response.ok || response.status !== 200) { 
        msg = `Failed to get remote node information - ${hostName}`;
        document.dispatchEvent(notifEventIndex(msg));
      }

      const dt = await response.json();

      // create node card dynamicaly
      const data = Object.entries(dt);
      if (data.length > 0) {
        data.forEach((value, idx) => {
          let smallExists = document.getElementById("small"+hostName+String(idx));
          if (smallExists) { return; }

          let hstCard = document.getElementById("external-"+hostName);
          let small = document.createElement('small');
          small.id = "small"+hostName+String(idx);
          small.innerHTML = `<br> ${value[0].toUpperCase()} ${value[1]}`;
          hstCard.appendChild(small);
        });
      }

      msg = "Nodes loaded";
      document.dispatchEvent(notifEventIndex(msg));
    }

    async function loadTables() {
      console.log(`[info]: loadTables`);

      let trData;
      let msg = "";
      const bodyData = JSON.stringify({ options: "-j", action: "all" });
      const response = await sendHttpRequest("list", bodyData);
      if (response.code == 200) {
        msg = "Jails table data loaded";
        document.dispatchEvent(notifEventIndex(msg));
        sessionStorage.setItem('jails', response.data.msg);
        trData = JSON.parse(response.data.msg);
      } else {
        msg = `Failed to load jails table data`;
        document.dispatchEvent(notifEventIndex(msg));
      }
        
      // create table body dynamically
      let result = '';
      trData.forEach((tr, idx) => {
        if (tr.State === "Up") {
          result += `<tr class='tbl-home-list-jails-up'>`;
        } else {
          result += `<tr class='tbl-home-list-jails-down'>`;
        }

        result += `            
          <td data-label="JID" class="tbl-hidden-td-data">${tr.JID}</td>
          <td data-label="BOOT" class="tbl-hidden-td-data">${tr.Boot}</td>
          <td data-label="PRIO" class="tbl-hidden-td-data">${tr.Prio}</td>
          <td data-label="STATE">${tr.State}</td>
          <td data-label="IP Address">${tr['IP Address']}</td>
          <td data-label="Published Ports" class="tbl-hidden-td-data">${tr["Published Ports"]}</td>
          <td data-label="HOSTNAME">${tr.Hostname}</td>
          <td data-label="RELEASE" class="tbl-hidden-td-data">${tr.Release}</td>
          <td data-label="PATH" class="tbl-hidden-td-data">${tr.Path}</td>
        `;
          
        if (tr.State === "Up") {
          result += `
            <td data-label="ACTION" class="tbl-home-td-btns">
              <small>
                <button 
                  id="startJailBtn${idx}"
                  class="secondary btn-home-start-jail" 
                  data-tooltip="Start Jail"
                  onclick="startJail('${tr.Hostname}', '${idx}')" 
                  disabled
                >
                  START
                </button>
              </small>
              &nbsp;
              <small>
                <button
                  id="stopJailBtn${idx}" 
                  class="primary btn-home-stop-jail"
                  data-tooltip="Stop Jail"
                  onclick="stopJail('${tr.Hostname}', '${idx}')"                       
                >
                  STOP
                </button>
              </small>
            </td>
          `;
        } else {
          result += `
            <td data-label="ACTION" class="tbl-home-td-btns">
              <small>
                <button 
                  id="startJailBtn${idx}"
                  class="secondary btn-home-start-jail" 
                  data-tooltip="Start Jail"
                  onclick="startJail('${tr.Hostname}', '${idx}')"                       
                >
                  START
                </button>
              </small>
              &nbsp;
              <small>
                <button 
                  id="stopJailBtn${idx}"
                  class="primary btn-home-stop-jail"
                  data-tooltip="Stop Jail"
                  onclick="stopJail('${tr.Hostname}', '${idx}')" 
                  disabled
                >
                  STOP
                </button>
              </small>
            </td>
          `;
        }

        result += `              
            <td>
              <button 
                id="tbl-btn-menu" 
                class="outline contrast" 
                data-tooltip="commands menu" 
                data-placement="up"
                onclick="openCmdsModal('${tr.Hostname}')"
              >
                ☰
              </button>
            </td>  
          </tr>
        `;
      });
        
      let tableBody = document.querySelector("#jailsTable tbody");
      tableBody.innerHTML = result;
    }

    async function startJail(target, idx) {
      console.log("[info]: startJail ", target);

      disableButtons();
    
      let startJailBtn = document.getElementById(`startJailBtn${idx}`);
      startJailBtn.classList.add('loading');
      startJailBtn.innerHTML = '<span class="spinner"></span>';
      
      let msg = "";
      const bodyData = JSON.stringify({ options: "", target: target, value: "" });
      const response = await sendHttpRequest("start", bodyData);
      if (response.code == 200) {
        msg = `Jail ${target} started`; 
        document.dispatchEvent(notifEventIndex(msg));
        enableButtons();
        await loadTables();
      } else {
        msg = `Failed to start jail ${target}`;
        document.dispatchEvent(notifEventIndex(msg));
      }

      startJailBtn.classList.remove('loading');
      startJailBtn.innerHTML = 'Start';
    }

    async function stopJail(target, idx) {
      console.log("[info]: stopJail ", target);

      disableButtons();
            
      let stopJailBtn = document.getElementById(`stopJailBtn${idx}`);
      stopJailBtn.classList.add('loading');
      stopJailBtn.innerHTML = '<span class="spinner"></span>';

      let msg = "";
      const bodyData = JSON.stringify({ options: "", target: target });
      const response = await sendHttpRequest("stop", bodyData);
      if (response.code == 200) {
        msg = `Jail ${target} stoped`; 
        document.dispatchEvent(notifEventIndex(msg));
        enableButtons();        
        await loadTables();
      } else {
        msg = `Failed to stop jail ${target}`;
        document.dispatchEvent(notifEventIndex(msg));
      }

      stopJailBtn.classList.remove('loading');
      stopJailBtn.innerHTML = 'Stop';
    }
  </script>
{{end}}
