{{define "content"}}
  <div class="card">
    {{$parentContext := .}}
    {{range .Data.Commands}}
      {{if eq .Command $.CommandName}}
        <header>{{.Command}} <span id="hostName"></span> </header>
        <br>
        <form id="{{$.CommandName}}-form" class="card-form">
          <fieldset>
            {{range .Fields}}
              {{if or (eq . "add") (eq . "remove")}}              
                <fieldset>
                  <label for="action">
                    <input type="radio" id="{{.}}" name="action" value="{{.}}" onchange="handleRadioBtn(this)"/>
                    {{.}}
                  </label>
                </fieldset>
              {{else}}              
                {{if eq . "TARGET"}}
                  <select name="{{.}}" id="{{.}}" aria-label="{{.}}" required></select>
                  <small id="invalid-{{.}}"></small>
                {{else}}
                  <input type="text" placeholder="{{.}}" name="{{.}}" id="{{.}}" class="input-text"
                    aria-describedby="invalid-{{.}}" />
                  <small id="invalid-{{.}}"></small>
                {{end}}
              {{end}}
            {{end}}
          </fieldset>
          <fieldset>
            <legend>Options</legend>
            {{range .Options}}
              <input type="checkbox" name="options_{{.Lflag}}" value="{{.Sflag}}" role="switch" />{{.Lflag}}&nbsp;
            {{end}}
          </fieldset>
          <div class="grid">
            <button id="submitBtn" class="secondary btn-card-submit" onclick="networkSubmit(event)">Submit</button>
            <button class="primary btn-card-help" onclick="helpED(event)">Help</button>
            <button class="outline contrast" onclick="backToHome(event)">Home</button>
          </div>
        </form>
        <br>
        <div class="card-footer">
          <div class="card-help" id="card-help">
            <h3>Help</h3>
            <small class="secondary">{{.Description}}</small>
            <br><br>
            <p>{{.Help}}</p>
            <div class="card-help-options">
              {{range .Options}}
                <p>&nbsp;&nbsp;{{.Sflag}}&nbsp;|&nbsp;{{.Lflag}}&nbsp;-&nbsp;{{.Text}}</p>
              {{end}}
            </div>
          </div>
          <br>
          <div class="card-results">
            <p id="result" class="card-result"></p>
            <p id="error" class="card-error"></p>
          </div>
        </div>
      {{end}}
    {{end}}
  </div>

  <script>
    let hlp = document.getElementById("card-help");
    hlp.style.display = 'none';

    loadJailsToSelect();

    function loadJailsToSelect() {
      let tgt = document.getElementById('TARGET');
      tgt.options.length = 0;

      let option = document.createElement("option");
      option.value = sessionStorage.getItem('hostJail');
      option.textContent = sessionStorage.getItem('hostJail');
      tgt.appendChild(option);
      
      let jails = sessionStorage.getItem('jails');
      let pjails = JSON.parse(jails);
      pjails.forEach(j => {
        if (j.Hostname === sessionStorage.getItem('hostJail')) { return; }
        option = document.createElement("option");
        option.value = j.Hostname;
        option.textContent = j.Hostname;
        tgt.appendChild(option);
      });
    }

    function helpED(event) {
      event.preventDefault();     
      hlp.style.display === 'none' ?  hlp.style.display = 'block' : hlp.style.display = 'none';
    }
    
    let v = document.getElementById("VLANID");
    v.disabled = true;

    let i = document.getElementById("IP");
    i.disabled = false;
    
    function handleRadioBtn(radio) {
      i.style.border = '1px solid #8f8f9d';
      i.disabled = false;

      if (radio.value === 'remove') { 
        i.style.border = '1px solid #ccc';
        i.disabled = true; 
        return;
      }
    }

    function handleCheckBox(check) {
      v.disabled = true;
      if (check.checked && (check.value === '-v' || check.value === '--vlan')) { v.disabled = false; }
    }

    function backToHome(event) {
      event.preventDefault();

      const ipaddr = sessionStorage.getItem('ipaddr');
      const port = sessionStorage.getItem('port');
      window.location.href = `http://${ipaddr}:${port}/home`;
    }

    async function networkSubmit(event) {
      event.preventDefault();

      const name = '{{$.CommandName}}';
      const result = document.getElementById('result');
      const error = document.getElementById('error');
      result.innerText = "";
      error.innerText = ""; 

      const form = document.getElementById(name + '-form');
      const formData = new FormData(form);      
      let options = [];
      let formObj = {};
      formData.forEach((value, key) => {
        if (key.indexOf('options_') != -1) {        
          options.push(value);
          return;
        }

        value = value.trim();

        if (key === "action") {
          formObj[key] = value;
          return;
        }

        if (key === "TARGET") {
          let t = document.getElementById(key);
          t.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          t.style.borderColor = '#e72727';
          error.innerText = "[Error]: TARGET is a required field.";
        }

        if (key === "INTERFACE") {
          let i = document.getElementById(key);
          i.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          i.style.borderColor = '#e72727';
          error.innerText = "[Error]: INTERFACE is a required field.";
        }

        if (key === "IP") {
          let i = document.getElementById(key);
          i.style.borderColor = 'initial';

          const ipv4Regex = /^(?:(?:25[0-5]|2[0-4]\d|1\d{2}|[1-9]?\d)\.){3}(?:25[0-5]|2[0-4]\d|1\d{2}|[1-9]?\d)$/;
          if (ipv4Regex.test(value)) {
            formObj[key] = value;
            return;
          }

          i.style.borderColor = '#e72727';
          error.innerText = "[Error]: IP field must to be a valid IP address.";
        }

        if (key === "VLANID") {          
          v.style.borderColor = 'initial';

          if (value != "") {
            formObj[key] = value;
            return;
          }

          v.style.borderColor = '#e72727';
          error.innerText = "[Error]: VLANID is a required field.";
        }
      });

      if (error.innerText != "") { return; }

      formObj['options'] = options.join(' ').trimEnd();
      const formJson = JSON.stringify(formObj);

      result.innerText = 'send -> bastille ' + name;
      
      const response = await sendHttpRequest(name, formJson);
      if (response.code == 200) {
        error.innerText = "";
        result.innerText = response.data.msg;
      } else {
        result.innerText = "";
        error.innerText = response.error;
      }
    }
  </script>
{{end}}
