{{define "content"}}
  <div class="card">
    {{$parentContext := .}}
    {{range .Data.Commands}}
      {{if eq .Command $.CommandName}}
        <header>{{.Command}} <span id="hostName"></span> </header>
        <br>
        <form id="{{$.CommandName}}-form" class="card-form">
          <fieldset>
            {{range .Fields}}
              {{if eq . "TARGET"}}
                <select name="{{.}}" id="{{.}}" aria-label="{{.}}" required></select>
                <small id="invalid-{{.}}"></small>
              {{else}}
                <input type="text" placeholder="{{.}}" name="{{.}}" id="{{.}}" class="input-text"
                aria-describedby="invalid-{{.}}" />
                <small id="invalid-{{.}}"></small>
              {{end}}
            {{end}}
          </fieldset>
          <fieldset>
            <legend>Options</legend>
            {{range .Options}}
              <input type="checkbox" name="options_{{.Lflag}}" value="{{.Sflag}}" role="switch" />{{.Lflag}}&nbsp;
            {{end}}
          </fieldset>
          <div class="grid">
            <button id="submitBtn" class="secondary btn-card-submit" onclick="renameSubmit(event)">Submit</button>
            <button class="primary btn-card-help" onclick="helpED(event)">Help</button>
            <button class="outline contrast" onclick="backToHome(event)">Home</button>
          </div>
        </form>
        <br>
        <div class="card-footer">
          <div class="card-help" id="card-help">
            <h3>Help</h3>
            <small class="secondary">{{.Description}}</small>
            <br><br>
            <p>{{.Help}}</p>
            <div class="card-help-options">
              {{range .Options}}
                <p>&nbsp;&nbsp;{{.Sflag}}&nbsp;|&nbsp;{{.Lflag}}&nbsp;-&nbsp;{{.Text}}</p>
              {{end}}
            </div>
          </div>
          <br>
          <div class="card-results">
            <p id="result" class="card-result"></p>
            <p id="error" class="card-error"></p>
          </div>
        </div>
      {{end}}
    {{end}}
  </div>

  <script>
    let hlp = document.getElementById("card-help");
    hlp.style.display = 'none';

    let hostName = document.getElementById('hostName');
    hostName.innerHTML = `[${sessionStorage.getItem('hostname')}]`;

    loadJailsToSelect();

    function loadJailsToSelect() {
      let tgt = document.getElementById('TARGET');
      tgt.options.length = 0;

      let option = document.createElement("option");
      option.value = sessionStorage.getItem('hostJail');
      option.textContent = sessionStorage.getItem('hostJail');
      tgt.appendChild(option);
      
      let jails = sessionStorage.getItem('jails');
      let pjails = JSON.parse(jails);
      pjails.forEach(j => {
        if (j.Hostname === sessionStorage.getItem('hostJail')) { return; }
        option = document.createElement("option");
        option.value = j.Hostname;
        option.textContent = j.Hostname;
        tgt.appendChild(option);
      });
    }

    function helpED(event) {
      event.preventDefault();     
      hlp.style.display === 'none' ?  hlp.style.display = 'block' : hlp.style.display = 'none';
    }

    function backToHome(event) {
      event.preventDefault();

      const ipaddr = sessionStorage.getItem('ipaddr');
      const port = sessionStorage.getItem('port');
      window.location.href = `http://${ipaddr}:${port}/home`;
    }

    async function renameSubmit(event) {
      event.preventDefault();

      const name = '{{$.CommandName}}';
      const result = document.getElementById('result');
      const error = document.getElementById('error');
      result.innerText = "";
      error.innerText = ""; 

      const form = document.getElementById(name + '-form');
      const formData = new FormData(form);      
      let options = [];
      let formObj = {};
      formData.forEach((value, key) => {
        if (key.indexOf('options_') != -1) {
          options.push(value);
          return;
        }

        value = value.trim();
        
        if (key === "TARGET") {
          let t = document.getElementById(key);
          t.style.borderColor = 'initial';

          let tfieldError = document.getElementById(`invalid-${key}`);
          tfieldError.innerHTML = "";

          if (value != "") {
            t.setAttribute('aria-invalid', 'false');
            formObj[key] = value;
            return;
          }

          let errorString = "[Error]: TARGET is a required field.";
          error.innerText = errorString;
          t.style.borderColor = '#e72727';
          t.setAttribute('aria-invalid', 'true');
          tfieldError.innerHTML = errorString;
        }
        
        if (key === "NEW_NAME") {
          let nn = document.getElementById(key);
          nn.style.borderColor = 'initial';

          let nnfieldError = document.getElementById(`invalid-${key}`);
          nnfieldError.innerHTML = "";

          if (value != "") {
            nn.setAttribute('aria-invalid', 'false');
            formObj[key] = value;
            return;
          }

          let errorString = "[Error]: NEW_NAME is a required field.";
          error.innerText = errorString;
          nn.style.borderColor = '#e72727';
          nn.setAttribute('aria-invalid', 'true');
          nnfieldError.innerHTML = errorString;
        }
      });

      if (error.innerText != "") { return; }

      formObj['options'] = options.join(' ').trimEnd();
      const formJson = JSON.stringify(formObj);

      result.innerText = 'send -> bastille ' + name;

      let submitBtn = document.getElementById('submitBtn');
      submitBtn.classList.add('loading');
      submitBtn.innerHTML = '<span class="spinner"></span>';

      const response = await sendHttpRequest(name, formJson);
      if (response.code == 200) {
        error.innerText = "";
        result.innerText = response.data.msg;
      } else {
        result.innerText = "";
        error.innerText = response.error;
      }

      submitBtn.classList.remove('loading');
      submitBtn.innerHTML = 'Submit';
    }
  </script>
{{end}}
